@use "../vendors/custom" as bootstrap;
@use "../abstracts/mixins";
@use "../components/animations" as animate;

.intro-section {
  padding-top: 10rem;
}

.fa-solid.fa-circle-play {
  font-size: var(--intro-play-btn-size);
  z-index: 100;
}

$box: var(--intro-play-btn-size);

.play-triangle {
  z-index: -2;
  width: $box;
  height: $box;
  background-color: rgba(255, 255, 255, 0.7);
}

.circle-border {
  width: $box;
  height: $box;
  border: 0 solid white;
  @include animate.pulse-border;
}

.circle-border--2 {
  animation-delay: 300ms;
}

.waves-svg {
  width: 100%;
  // 200-400px from 768vw to 2000vw
  height: clamp(12.5rem, 16.2338vw + 4.70779rem, 25rem);
  object-fit: cover;
  object-position: bottom;
}
