@use "../custom";
@use "../abstracts/mixins";
@use "../abstracts/functions" as func;

.menu {
  @include mixins.gradient;
}

.nav-item {
  padding-inline: func.rem(11px);
}

.nav-link {
  color: white;
  text-transform: capitalize;
  font-weight: 600;
}
