@use "../abstracts/mixins";
@use "../abstracts/functions" as func;

.menu {
  @include mixins.gradient;
}

.nav-item {
  padding-inline: func.rem(11px);
}

.scroll-progress-bar__container {
  width: 0vw;
  height: 4px;
  // background-color: #fff;
  @include mixins.gradient;
}

.scroll-progress-bar {
  // width: 60%;
  height: 100%;
  // background-color: rgb(234, 181, 255);
  background-color: rgba(255, 255, 255, 0.37);
  transition: 0.5s;
}
