@use "../vendors/custom" as bootstrap;
@use "../abstracts/mixins";
@use "../abstracts/functions" as func;

.services__heading {
  font-weight: 800;
}

.description--divider {
  @include bootstrap.media-breakpoint-up(lg) {
    border-right: 2px solid rgb(219, 219, 219);
  }
}

.services__description {
  //  19px-16px , 1024-320px
  // font-size: clamp(1rem, 0.426136vw + 0.914773rem, 1.1875rem);
  font-size: func.fluid-fs(1rem, 19px, 320, 1024);
  color: rgb(131, 127, 127);
}

.service__description {
  // font-size: 1.1rem;
  font-size: func.fluid-fs(1rem, 1.1rem);
  color: rgb(131, 127, 127);
}

.service__icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.service__img {
  padding: 1rem;

  @include bootstrap.media-breakpoint-down(sm) {
    padding: 0 1.5rem;
  }
}
