@use "../vendors/custom" as bootstrap;
@use "../abstracts/functions" as func;
@use "../abstracts/mixins";

.nav__connect-btn {
  @include bootstrap.media-breakpoint-down(sm) {
    display: none;
  }
}

.connect-btn {
  position: relative;
  font-weight: 700;
  background-color: white;
  border: 1px solid rgba(white, 0.5);
  padding: func.rem(15px) func.rem(70px) func.rem(15px) func.rem(20px);

  &:hover {
    @include mixins.gradient;
    color: white;

    .phone-icon-container {
      background-color: rgba(black, 0.75);
    }
  }
}

// .border-gradient {
//   border: 1px solid transparent;
//   &::before {
//     content: "";
//     position: absolute;
//     inset: 0;
//     border-radius: 50rem;
//     padding: 2px;
//     // background: linear-gradient(45deg, red, blue);
//     @include mixins.gradient;
//     -webkit-mask: linear-gradient(#fff 0 0) content-box,
//       linear-gradient(#fff 0 0);
//     -webkit-mask-composite: xor;
//     mask-composite: exclude;
//   }
// }

.connect__icon-container {
  position: absolute;
  top: 50%;
  right: func.rem(5px);
  transform: translateY(-50%);

  $box: func.rem(42px);
  height: $box;
  width: $box;

  background-color: bootstrap.$primary;
}

// .connect-btn,
.connect-btn .fa-solid.fa-arrow-right {
  font-size: func.fluid-fs(14, 16, 320, 425);
}

.connect-btn .fa-solid.fa-arrow-right {
  // line-height: 2.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-solid.fa-phone {
  font-size: 1rem;
  line-height: 2.5;
}
