@use "../vendors/custom" as bootstrap;
@use "../abstracts/functions" as func;

.section__heading {
  color: rgb(33, 31, 37);
  // color: rgb(29, 21, 44);
}

//  Intro section
.intro__description {
  // 1-1.5rem,  330 - 992vw
  // font-size: clamp(1rem, 1.19048vw + 0.761905rem, 1.5rem);
  font-size: func.fluid-fs(1rem, 1.5rem, 320, 992);
}

//

.line::after {
  content: "";
  width: min(50%, 13rem);
  height: 0.2rem;
  border-radius: 1rem;
  display: block;
  margin-inline: auto;
  margin-top: 1rem;

  background-image: linear-gradient(
    to right,
    bootstrap.$primary,
    bootstrap.$secondary
  );

  // background-color: rgb(128, 50, 216);
}

.testimonials__line {
  // width: 6.25rem;
  width: min(50%, 10rem);
  height: 0.1rem;
  border: none;
  // height: 2rem;
  background-color: white;
  border-radius: 1rem;
}
